---
import BaseLayout from "../layouts/BaseLayout.astro";
import { Image } from "astro:assets";

import Hero from "../components/Hero.astro";
import Card from "../components/Card.astro";

import joshua from "../images/joshua.jpg";
---

<BaseLayout title="About | Starr Designs" description="About Starr Designs">
  <div class="stack main-wrapper">
    <main class="wrapper">
      <Hero>
        <span slot="title">About</span>
      </Hero>
      <section>
        <Card alignTop="left" alignAuto="left" centerVertically={false}>
          <Image
            class="vertical-img"
            slot="top"
            width={400}
            src={joshua}
            alt=""
          />
          <div class="section-text" slot="bottom">
            <div class="section-header stack gap-2 lg:gap-4">
              <p>
                Starr Designs is owned and run by Joshua Starr. TODO: more info
              </p>
              <p>
                Joshua also facilitates workshops and spaces around gender
                inclusion and consent. More information on his facilitation work
                can be found at <a href="https://www.joshuastarr.ca"
                  >www.joshuastarr.ca</a
                >.
              </p>
            </div>
          </div>
        </Card>
      </section>
    </main>
  </div>
</BaseLayout>

<style>
  a {
    color: currentColor;
  }
  a:hover,
  a:focus-visible {
    color: var(--pop-color);
  }
  .main-wrapper {
    padding-block: 60px;
    background-color: var(--gray-999);
  }

  .vertical-img {
    aspect-ratio: 3/4;
  }

  section {
    padding-block: 60px 32px;
  }

  .section-text {
    display: grid;
    gap: 24px;
    max-width: 428px;
    margin-inline: auto;
  }

  .section-header {
    max-width: 60ch;
    font-size: var(--text-md);
    gap: 16px;
  }

  .section-header h3 {
    font-size: var(--text-2xl);
  }

  img {
    object-fit: cover;
    object-position: top;
    border-radius: 24px;
    box-shadow: var(--shadow-md);
  }

  .thumb {
    width: 100px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
  }

  .thumbs {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    max-width: var(--content-width);
    padding: 16px 0px;
    margin-inline: auto;
  }

  .screen-thumbs {
    justify-content: flex-end;
  }

  @media (min-width: 62rem) {
    .cards {
      padding-block: 60px;
    }

    .section-text {
      gap: 48px;
      max-width: 750px;
    }
    .section-header {
      font-size: var(--text-lg);
      gap: 32px;
    }

    .section-header h3 {
      font-size: var(--text-4xl);
    }

    img {
      border-radius: 48px;
    }

    .thumb {
      border-radius: 8px;
    }

    .thumbs {
      padding: 16px 32px;
    }
  }
</style>
