---
import { Image } from "astro:assets";
// Layout import — provides basic page elements: <head>, <nav>, <footer> etc.
import BaseLayout from "../layouts/BaseLayout.astro";

// Component Imports
import CallToAction from "../components/CallToAction.astro";
import Grid from "../components/Grid.astro";
import Hero from "../components/Hero.astro";
import HeroBackground from "../components/HeroBackground.astro";
import Icon from "../components/Icon.astro";

// Page section components
import ContactCTA from "../components/ContactCTA.astro";

// Image Imports
import excitedGroup from "../images/group_excited_cropped.jpg";
---

<BaseLayout>
  <div class="stack">
    <header class="hero">
      <HeroBackground />
      <div class="hero-wrapper">
        <div class="wrapper hero-inner-wrapper">
          <Hero
            tagline="We specialize in bulk custom glitter printing and screen printing."
            align="start"
          >
            <span slot="title"><nobr>T-shirts</nobr> that sparkle</span>
            <div class="cta">
              <CallToAction href="/#contact">
                Get A Quote
                <!-- <Icon icon="arrow-right" size="1.2em" /> -->
              </CallToAction>
            </div>
          </Hero>
          <Image
            src={excitedGroup}
            width={650}
            alt="A group of five people wearing t-shirts looking at each other excitedly. Each person's t-shirt has a glitter design on it: the two on the left have the Progress Pride flag in a heart on the upper left chest, the two in the middle have vertical rainbow stripes in a heart in the center of the chest, and the one on the right has a classic pride flag in a heart in the center of the chest"
          />
        </div>
      </div>
    </header>

    <main class="stack">
      <section class="section with-background bg-variant">
        <header class="section-header stack gap-2 lg:gap-4">
          <h3>We can add glitter to any image</h3>
          <p>Great for:</p>
        </header>
        <div class="gallery">
          <Grid variant="small">
            {
              ["Schools", "Non-Profits", "Community Groups"].map((group) => (
                <li class="mention-card">
                  <p>{group}</p>
                </li>
              ))
            }
          </Grid>
        </div>
      </section>
      <section class="section with-background bg-variant">
        <header class="section-header stack gap-2 lg:gap-4">
          <h3>
            Partner with us on a fundraising campaign to support a great cause
          </h3>
          <p>
            Choose one of our existing designs, provide your own, or work with
            us to develop the perfect design for your campaign.
          </p>
        </header>
        <div class="gallery">
          <Grid variant="small">
            {
              [
                "Pink Shirt Day",
                "Pride",
                "Trans Day of Visibility",
                "Solidarity Actions",
                "National Coming Out Day",
              ].map((campaign) => (
                <li class="mention-card">
                  <p>{campaign}</p>
                </li>
              ))
            }
          </Grid>
        </div>
      </section>
      <div class="cta">
        <CallToAction href="/services">
          View All
          <Icon icon="arrow-right" size="1.2em" />
        </CallToAction>
      </div>
    </main>

    <ContactCTA />
  </div>
</BaseLayout>

<style>
  .hero {
    position: relative;
  }
  .hero-wrapper {
    padding-block: 56px;
  }
  .hero-inner-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 32px;
    border-radius: 64px;
    background-color: hsl(0 100% 96.5% /0.85);
  }

  .roles {
    display: none;
  }

  .hero img {
    object-fit: cover;
    object-position: top;
    border-radius: 1.5rem;
    box-shadow: var(--shadow-md);
  }

  @media (min-width: 50em) {
    .hero-wrapper {
      padding-inline: 40px;
    }
    .hero-inner-wrapper {
      display: grid;
      grid-template-columns: 1fr auto;
      gap: 48px;
    }

    .roles {
      margin-top: 0.5rem;
      display: flex;
      gap: 0.5rem;
    }

    .hero img {
      border-radius: 48px;
      object-fit: cover;
    }
  }

  /* ====================================================== */

  .section {
    display: grid;
    gap: 2rem;
  }

  .with-background {
    position: relative;
    background-color: var(--background-color);
  }

  .section-header {
    justify-self: center;
    text-align: center;
    max-width: 50ch;
    font-size: var(--text-md);
  }

  .section-header h3 {
    font-size: var(--text-2xl);
  }

  @media (min-width: 50em) {
    .section {
      grid-template-columns: repeat(4, 1fr);
      grid-template-areas: "header header header header" "gallery gallery gallery gallery";
    }

    .section-header {
      grid-area: header;
      font-size: var(--text-lg);
    }

    .section-header h3 {
      font-size: var(--text-4xl);
    }

    .with-cta .section-header {
      justify-self: flex-start;
      text-align: left;
    }

    .gallery {
      grid-area: gallery;
    }

    .cta {
      grid-area: cta;
    }
  }

  /* ====================================================== */

  .mention-card {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-block: 32px;
    background-color: #ffffff;
    border: 1px solid var(--gray-800);
    border-radius: 1.5rem;
    box-shadow: var(--shadow-sm);
  }

  @media (min-width: 50em) {
    .mention-card {
      border-radius: 1.5rem;
    }
  }
</style>
