---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
import Grid from '../components/Grid.astro';


---

<BaseLayout
	title="Printing Services | Starr Designs"
	description="Learn about Starr Designs' custom apparel printing services"
>
	<div class="stack gap-20">
		<main class="wrapper stack gap-8">

		</main>
		<ContactCTA />
	</div>
</BaseLayout>
