---
import BaseLayout from "../layouts/BaseLayout.astro";
import { getCollection, getEntry } from "astro:content";

import ContactCTA from "../components/ContactCTA.astro";
import Hero from "../components/Hero.astro";
import ProductBlock from "../components/ProductBlock.astro";

const glitterImages = await getCollection("glitter");
const screenImages = await getCollection("screen");
const initialGlitterImage = await getEntry("glitter", "g01-anat");
const initialScreenImage = await getEntry("screen", "s01-ukraine");
---

<BaseLayout
  title="Printing Services | Starr Designs"
  description="Learn about Starr Designs' custom apparel printing services"
>
  <div class="stack">
    <main class="stack lg:gap-8">
      <div class="hero-wrapper">
        <Hero><span slot="title">Our Services</span></Hero>
      </div>
      <div class="cards stack gap-8 lg:gap-20">
        <section>
          <ProductBlock
            alignImg="left"
            title="Glitter Printing"
            images={glitterImages}
            initialImage={initialGlitterImage}
          >
            <div class="section-header stack gap-2 lg:gap-4">
              <div class="stack gap-2 lg:gap-4">
                <p>
                  We can print any image as a high-quality glitter print. Choose
                  one of our existing designs, provide your own, or work with us
                  to develop the perfect design.
                </p>
                <p>
                  The glitter is well adhered to the shirt and machine washable.
                  It will not shed or transfer.
                </p>
                <p>Youth sizes available.</p>
                <p>Minimum order 30 shirts.</p>
              </div>
            </div>
          </ProductBlock>
        </section>
        <section>
          <ProductBlock
            alignImg="right"
            title="Screen Printing"
            images={screenImages}
            initialImage={initialScreenImage}
          >
            <div class="section-header stack gap-2 lg:gap-4">
              <div class="stack gap-2 lg:gap-4">
                <p>
                  We can also print any image as a traditional screen print,
                  without glitter.
                </p>
                <p>Youth sizes available.</p>
                <p>Minimum order 30 shirts.</p>
              </div>
            </div>
          </ProductBlock>
        </section>
      </div>
    </main>
  </div>
  <ContactCTA title="Start your campaign today" quote>
    <p>
      Tell us a little about what you're looking for to receive a custom quote.
    </p>
  </ContactCTA>
</BaseLayout>

<style>
  .hero-wrapper {
    padding-block: 32px;
    background-color: var(--gray-999);
  }

  .cards {
    padding-block: 32px;
  }

  .vertical-img {
    aspect-ratio: 3/4;
  }

  .section-text {
    display: grid;
    gap: 24px;
    max-width: 428px;
    margin-inline: auto;
  }

  .section-header {
    max-width: 60ch;
    font-size: var(--text-md);
    gap: 16px;
  }

  .section-header h3 {
    font-size: var(--text-2xl);
  }

  img {
    object-fit: cover;
    object-position: top;
    border-radius: 24px;
    box-shadow: var(--shadow-md);
  }

  .thumb {
    width: 100px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
  }

  .thumbs {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    max-width: var(--content-width);
    padding: 16px 0px;
    margin-inline: auto;
  }

  .screen-thumbs {
    justify-content: flex-end;
  }

  @media (min-width: 62rem) {
    .hero-wrapper {
      padding-block: 60px;
    }
    .cards {
      padding-block: 60px;
    }

    .section-text {
      gap: 48px;
      max-width: 750px;
    }
    .section-header {
      font-size: var(--text-lg);
      gap: 32px;
    }

    .section-header h3 {
      font-size: var(--text-4xl);
    }

    img {
      border-radius: 48px;
    }

    .thumb {
      border-radius: 8px;
    }

    .thumbs {
      padding: 16px 32px;
    }
  }
</style>
