---
interface Props {
  alignTop: "left" | "right";
  alignAuto: "left" | "right";
  centerVertically?: boolean;
}

const { alignTop, alignAuto, centerVertically = true } = Astro.props;
---

<div
  class:list={[
    "wrapper",
    "grid",
    "gap-8",
    "lg:gap-20",
    {
      "auto-left": alignAuto === "left",
      "auto-right": alignAuto === "right",
      center: centerVertically,
    },
  ]}
>
  <div
    class:list={[{ left: alignTop === "left", right: alignTop === "right" }]}
  >
    <slot name="top" />
  </div>
  <div
    class:list={[{ right: alignTop === "left", left: alignTop === "right" }]}
  >
    <slot name="bottom" />
  </div>
</div>

<style>
  .grid {
    display: grid;
  }

  .center {
    align-items: center;
  }

  .left,
  .right {
    display: grid;
  }
  .left > :global(img),
  .right > :global(img) {
    justify-self: center;
  }

  @media (min-width: 62rem) {
    .grid.auto-left {
      grid-template-columns: auto 1fr;
    }
    .grid.auto-right {
      grid-template-columns: 1fr auto;
    }
    .grid {
      padding-inline: 32px;
      grid-template-areas: "left right";
    }
    .left {
      grid-area: left;
    }
    .right {
      grid-area: right;
    }
  }
</style>
