---
import Icon from "./Icon.astro";
const currentYear = new Date().getFullYear();
const topHref = `${Astro.url.pathname}#top`;
---

<footer>
  <div class="group">
    <p>&copy; {currentYear} Starr Designs</p>
  </div>
  <p class="links">
    <a href={topHref}><Icon icon="arrow-up" />Top</a>
  </p>
</footer>
<style>
  footer {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: auto;
    padding: 32px 24px 32px;
    text-align: center;
    color: var(--gray-300);
    font-size: var(--text-sm);
    background-color: var(--background-color);
  }

  footer a {
    position: relative;
    display: flex;
    align-items: center;
    gap: 2px;
    color: var(--gray-300);
    text-decoration: 1px solid underline transparent;
    text-underline-offset: 0.25em;
    transition: all var(--theme-transition);
  }

  footer a:hover,
  footer a:focus {
    color: var(--pop-color);
    text-decoration-color: currentColor;
  }

  .group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .links {
    display: flex;
    justify-content: center;
    gap: 16px;
    flex-wrap: wrap;
  }

  @media (min-width: 62rem) {
    footer {
      flex-direction: row;
      justify-content: space-between;
      padding: 24px 72px;
    }

    .group {
      flex-direction: row;
      gap: 16px;
      flex-wrap: wrap;
    }

    .links {
      justify-content: flex-end;
    }
  }
</style>
